/* .jumbotron{
    background-image: url("https://img.europapress.es/fotoweb/fotonoticia_20180201110801_640.jpg");
    background-size: cover;
    height: 500px; */
}
#start{
    background-color: red;
    margin-top: 275px;
}
.head{
    color: green;
    
}